/* Contenedor Principal */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  backdrop-filter: blur(5px);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url('https://png.pngtree.com/background/20240327/original/pngtree-modern-computer-technology-photo-collage-copy-space-calculations-collage-photo-picture-image_8257470.jpg')
    no-repeat center center fixed;
  background-size: cover;
}

/* Caja de Login */
.login-box {
  background: rgba(0, 0, 0, 0.925);
  border-radius: 20px;
  padding: 60px 35px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 90%;
  max-width: 400px;
}

.login-title {
  color: #fff;
  margin-bottom: 20px;
}

.login-button-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Botones */
.login-button {
  background-color: #4dc41a;
  color: #fff;
  border: none;
  padding: 20px;
  font-size: 19px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #4fe70d;
}

.login-button.submit {
  background-color: #28a745;
}

.login-button.submit:hover {
  background-color: #218838;
}

.login-button.cancel {
  background-color: #dc3545;
}

.login-button.cancel:hover {
  background-color: #c82333;
}

/* Inputs */
.login-form div {
  margin: 15px 0;
  text-align: left;
}

.login-label {
  font-weight: bold;
  color: #a19e9e;
}

.login-input {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.login-create-account {
  margin-top: 20px;
  font-size: 14px;
  color: #a7a5a5;
}

.login-create-account span {
  color: #dc3545;
  cursor: pointer;
  text-decoration: underline;
}

.login-create-account span:hover {
  color: #c82333;
}
